node-red-flow/flows.json
[
    {
        "id": "dd030afbb66decf6",
        "type": "tab",
        "label": "flow absesni kjt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b68a05c719561e6d",
        "type": "serial in",
        "z": "dd030afbb66decf6",
        "name": "serial port",
        "serial": "113879a210129148",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "92a42f8e9229d7a4",
                "8699b05b0d2e0766"
            ]
        ]
    },
    {
        "id": "92a42f8e9229d7a4",
        "type": "debug",
        "z": "dd030afbb66decf6",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "8699b05b0d2e0766",
        "type": "function",
        "z": "dd030afbb66decf6",
        "name": "function 1",
        "func": "let str = msg.payload.toString();\nstr = str.replace(/\\x02/g,\"\").replace(/\\x03/g,\"\")\nmsg.payload = {rfid_code:str.trim()}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "6cb64627c93d78f3",
                "4b9b0ce45231dbaa"
            ]
        ]
    },
    {
        "id": "6cb64627c93d78f3",
        "type": "debug",
        "z": "dd030afbb66decf6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b9b0ce45231dbaa",
        "type": "http request",
        "z": "dd030afbb66decf6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/node-red/record",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "8e245993fc621f54"
            ]
        ]
    },
    {
        "id": "8e245993fc621f54",
        "type": "debug",
        "z": "dd030afbb66decf6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "113879a210129148",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "8b81840f560deb99",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3"
        }
    }
]